.vscode
wallet_*.json
*.exe
wallet-plugin*
api/server/restapi/operations
api/server/restapi
!api/server/restapi/configure_massa_wallet.go
api/server/models

build
node_modules
wails-frontend/dist

internal/handler/wallet/*.yml
