.vscode
wallet_*.json
*.exe
wallet-plugin*

coverage.out
**/unit-test.log
build/*
!build/appicon.png
node_modules
wails-frontend/dist

internal/handler/wallet/*.yaml
internal/handler/html/dist
internal/handler/wallet/assets.json

web-frontend/cypress-visual-report
web-frontend/cypress/screenshots
web-frontend/cypress-visual-screenshots/comparison
web-frontend/cypress-visual-screenshots/diff
documentation/node_modules
documentation/*.svg
documentation/*.html
documentation/*.pdf
