name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: 1.21
          cache: true
      - name: fill frontend dist with dummy file
        run: |
          mkdir internal/handler/html/dist && touch internal/handler/html/dist/yolo
          mkdir wails-frontend/dist && touch wails-frontend/dist/yolo
      - name: Run coverage tests
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3

  test-web-frontend:
    defaults:
      run:
        working-directory: ./web-frontend
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./web-frontend/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test-ci
        env:
          VITE_CI_TEST: true
      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.node-version }}
          path: |
            ./web-frontend/cypress-visual-report/*
            ./web-frontend/cypress-visual-screenshots/*
          if-no-files-found: error
          retention-days: 7

  test-wail-frontend:
    defaults:
      run:
        working-directory: ./wails-frontend
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./wails-frontend/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
